<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Purchase JARVIS</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.6/dist/web3.min.js"></script>
  </head>
  <body>
      <h1>Purchase JARVIS</h1>
    <div class="page-wrapper">
      <div class="container">
        <header>
          <h2>Secure Purchase</h2>
        </header>
        <section>
          <form id="purchaseForm">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />
          </form>
          <p>Select your preferred payment method:</p>
          <div class="buttons">
            <button id="metamaskBtn" onclick="purchaseWithMetamask()">
              Purchase with Metamask
            </button>

            <button id="razorpayButton" onclick="handlePaymentCallback()">
              <form id="razorpayForm">
                <script
                  src="https://checkout.razorpay.com/v1/payment-button.js"
                  data-payment_button_id="pl_NVeuBNQu6taSEh"
                  async
                ></script>
              </form>
            </button>
          </div>
        </section>
      </div>
    </div>
    <div class="guide-container">
      <h3>Welcome, Folks!</h3>
      <p class="guide-paragraph">
        To acquire JARVIS, you can conveniently make a payment using either Metamask or Razorpay. Upon purchase, kindly provide your email and name. Your JARVIS application and activation key will be delivered to your email. Download the app, activate your key, and say hello to JARVIS! 
        </p>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
